#table-scroll {
   
    border-spacing: 0;
}

#tbody-scroll, #thead-scroll #tr-scroll { display: block; }

#tbody-scroll {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

#tbody-scroll td, #thead-scroll th {
    width: 200px;
}

#thead-scroll th:last-child {
    width: 216px; /* 140px + 16px scrollbar width */
}

.toggle.btn {
	min-width: 59.4063px !important;
	min-height: 34px !important;
}